.Container {
  width: 500px;
  border: solid 1px black;
  margin-bottom: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.formItem {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button {
  width: 200px;
  cursor: pointer;
  background-color: aquamarine;
  padding-top: 5px;
  padding-bottom: 5px;
}

.button:hover,
.button:focus {
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}
